<!DOCTYPE html>
<html>

<div class="ui-title" data-theme="a" data-role="header" align="left" data-position="fixed" data-tap-toggle="false">
  <% if ENVIRONMENT_CONFIG['competition'] == 'premier_league' %>
      <a href="<%= league_standings_path %>" class="ui-btn-left" data-theme="a" data-rel="">League</a>
  <% else %>
      <a href="<%= group_standings_path %>" class="ui-btn-left" data-theme="a" data-rel="">Groups</a>
  <% end %>
  <h1>Footy Forecast</h1>
  <a href="<%= points_path %>" class="ui-btn-right" data-theme="a" data-rel="">Totals</a>
</div>

<% month = nil %>
<% points = @user.points %>

<div data-role="content">
  <ul data-role="listview">
    <% @weeks.each do |week| %>

        <% unless month == week.close_date.month %>
            <% month = week.close_date.month %>
            <li class="custom-list-header fixture-date">
              <%= week.close_date.strftime('%B %Y') %>
            </li>
        <% end %>

        <li class="custom-list">
          <a href="<%= fixtures_path(week.id) %>">
            <div class="ui-grid-b">
              <div class="ui-block-a main-font" style="width:90%">
                <%= "#{week.description}" %>

                <% case week.status %>
                <% when 'Complete' %>
                    <span class="label label-default">complete</span>
                <% when 'In play' %>
                    <span class="label label-warning">in play</span>
                <% when 'Open' %>
                    <span class="label label-success">open</span>
                <% end %>

                <br>
                <h10 class="kickoff">
                  <%= "#{DateTime.parse(week.close_date_local_time.to_s).strftime("%A #{week.close_date_local_time.day.ordinalize} %H:%M")}" %>
                </h10>
              </div>

              <div class=ui-block-c" style="width:8%">
                <% point = points.select{|point| point[:week_id] == week.id }.first %>
                <% if point.present? %>
                    <% if TOGGLES_CONFIG['bonus_points'] %>
                        <% points_style = point.present? ? (point.value).to_i : 0 %>
                        <% points_style = "100" if point.value.to_i > 100 %>
                        <div class="<%= "label points_#{points_style}" %>">
                          <%= point.value.to_i if point.present? %>
                        </div>
                    <% else %>
                        <% points_style = point.present? ? point.value : 0 %>
                        <div class="<%= "label points_#{points_style}" %>">
                          <%= point.value if point.present? %>
                        </div>
                    <% end %>
                <% end %>
              </div>
            </div>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>