<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed">
  <h1>Footy Forecast</h1>
  <a href="<%= points_path %>" class="ui-btn-right" data-theme="a" data-rel="">Table</a>
</div>

<div data-role="content">
  <ul data-role="listview" id="fix-list">
    <% @weeks.each do |week| %>
        <li>
          <a href="<%= fixtures_path(week.id) %>">
            <div class="ui-grid-b">
              <div class="ui-block-a main-font" style="width:40%">
                <%= "#{week.description}" %>
                <br>
                <h10 class="kickoff">
                  Kickoff: <%= "#{DateTime.parse(week.close_date_local_time.to_s).strftime('%e %B %H:%M')}" %>
                </h10>
              </div>

              <div class="ui-block-b main-font" style="width:50%">
                <% case week.status %>
                <% when "Complete" %>
                    <span class="label label-default">Complete</span>
                <% when "In play" %>
                    <span class="label label-warning">In play</span>
                <% when "Open" %>
                    <span class="label label-success">Open</span>
                <% end %>
              </div>

              <div class="ui-block-c points_sml" style="width:10%">
                <% point= Point.point_for_user_and_week(User.find(@user), week).first %>
                <%= point.nil? ? " " : point.value %>
              </div>

            </div>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<%= render "common/footer" %>
</html>