<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed">
  <a href="<%= info_path %>" class="ui-btn-left" data-theme="a" data-icon="info" data-rel="">Info</a>
  <h1>
    Footy Forecast
  </h1>
  <a href="<%= points_path %>" class="ui-btn-right" data-theme="a" data-icon="grid" data-rel="">Table</a>
</div>

<div data-role="content">
  <ul data-role="listview" id="fix-list">
    <% @weeks.each do |week| %>
        <li>
          <a href="<%= week_path(week.id) %>">
            <div class="ui-grid-b">
              <div class="ui-block-a" style="width:90%">
                <%= "Round #{week.week[4..6]}" %>

                <% case week.status
                     when "Complete" %> <span class="label label-danger">Complete</span>
                <% when "In play" %>
                    <span class="label label-warning">In play</span>
                <% when "Open" %>
                    <span class="label label-success">Open</span>
                <% end %>

                <br>
                <h10 class="kickoff">
                  Kickoff: <%= "#{DateTime.parse(week.close_date.to_s).strftime('%e %B %H:%M')}" %>
                </h10>
              </div>
              <div class="ui-block-b" style="width:10%">
                <h9 class="points_sml">
                  <% point= Point.point_for_user_and_week(User.find(@user), week).first %>
                  <%= point.nil? ? " " : point.value %>
                </h9>
              </div>
            </div>
          </a>
        </li>
    <% end %>
  </ul>
</div>
</html>