<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed">
  <a href="<%= weeks_path(@week_id) %>" data-theme="a" data-rel=""  data-icon="back">Back</a>

  <h1><%= "Round #{@week.week[4..6]}" %></h1>
  <a href="<%= week_points_path(@week.id) %>" data-theme="a" data-rel=""  data-icon="star">Points</a>
</div>

<div data-role="content">
  <ul data-role="listview" id="fix-list">
    <% @fixtures.order("kickoff asc").each do |fixture| %>
        <% @fixture = fixture %>
        <li>
          <% @bet=Bet.find_by_fixture_id_and_user_id(@fixture.id, @current_user.id) %>

          <% if @week.betable? %>

              <% if @bet.nil? %>
                  <%= link_to new_fixture_bet_path(@fixture.id), :method => :post do %>
                      <%= render "fixture_info" %>
                  <% end %>
              <% else %>
                  <%= link_to edit_fixture_bet_path(@fixture.id), :method => :get do %>
                      <%= render "fixture_info" %>
                  <% end %>
              <% end %>

          <% else %>

              <div class="ui-grid-b">
                <div class="ui-block-a" style="width:90%">
                  <%= "#{ @fixture.to_s }" %>
                  <br>
                  <h10 class="kickoff">
                    <%= DateTime.parse(@fixture.kickoff.to_s).strftime('%A %e %B %Y %H:%M') %>
                  </h10>
                </div>

                <% bet=Bet.find_by_fixture_id_and_user_id(@fixture.id, @current_user.id) %>

                <% if @fixture.score.nil? || bet.nil? %>
                    <div class="ui-block-b" align="center" style="width:10%">
                      <%= bet.nil? ? "" : "#{bet.value}" %>
                      <br>
                      <h10 class="kickoff">
                        <%= "#{@fixture.score.home} - #{@fixture.score.away}" if @fixture.score.present? %>
                      </h10>
                    </div>
                <% elsif  bet.value == @fixture.score.outcome %>
                    <div class="correct ui-block-b" align="center" style="width:10%">
                      <%= bet.nil? ? "" : "#{bet.value}" %>
                      <br>
                      <h10 class="kickoff">
                        <%= "#{@fixture.score.home} - #{@fixture.score.away}" if @fixture.score.present? %>
                      </h10>
                    </div>
                <% else %>
                    <div class="wrong ui-block-b" align="center" style="width:10%">
                      <%= bet.nil? ? "" : "#{bet.value}" %>
                      <br>
                      <h10 class="kickoff">
                        <%= "#{@fixture.score.home} - #{@fixture.score.away}" if @fixture.score.present? %>
                      </h10>
                    </div>
                <% end %>
              </div>
          <% end %>

        </li>
    <% end %>
  </ul>
</div>

</html>