<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-tap-toggle="false">
  <a href="<%= lp_rounds_path %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "Round #{@round.id.to_s.rjust(2, '0')}" %></h1>
</div>

<div data-role="content">
  <div class="ui-field-contain" align="center">

    <form action="<%="/lp_bets/#{@bet.id}/edit?"%>" method="get">
      <select name="team_id" align="center" id="teams">
        <option selected value="0">Select Team</option>
        <% @teams.each do |team| %>
            <option value="<%= team.id %>"><%= team.name %></option>
        <% end %>
      </select>
    </form>

    <form method="PUT" action="<%= lp_bet_path(@bet.id) %>">
      <select name="selection" align="center" id="players">
        <option selected value="0">Select Player</option>
        <option value=<%= @round.id %>><input type=hidden name="round_id" value=<%= params['round_id'] %>>
      </select>
      <br>
      <input type="submit" value="Save"/>
    </form>
  </div>
</div>


<%= render 'common/footer' %>
</html>

<script type="text/javascript">
  $(function () {
    $('#teams').change(function () {
      var team_id = $(this).val();
      $.ajax({
        type: "GET",
        url: '/teams/players',
        cache: false,
        dataType:'json',
        data: {
          team_id: team_id
        },
        success: function(data) {
          $('#players').empty();

          var div_data="<option value='0'>Select Player</option>";
          $(div_data).appendTo('#players');

          $.each(data,function(i,obj)
          {
            var div_data="<option value="+obj.id+">#"+obj.squad_number+" - "+obj.forename+" "+obj.surname+"</option>";
            $(div_data).appendTo('#players');

          });

          $('#players').selectmenu('refresh');

        },
      });
    });
  });
</script>
