<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= weeks_path %>" data-theme="a" data-rel="">Back</a>

  <h1><%= "Footy Forecast" %></h1>
</div>

<div class="leaderboard">
  <ul data-role="listview">
    <% index = 0 %>
    <% position = 0 %>
    <% previous_score = -10 %>

    <% @total_points.each do |point| %>
        <li class="custom-list">
          <div class="ui-grid-b">
            <% position +=1 unless previous_score.to_s == point.total.to_s %>
            <% index += 1 %>
            <div class="ui-block-a" style="width:10%">
              <% position = index unless previous_score.to_s == point.total.to_s %>
              <%= "#{position}" %>
            </div>

            <% user = User.find(point.user_id) %>

            <div class="ui-block-b" style="width:10%">
              <%= image_tag "position/#{user.position.movement}.png", class: "strip-size" if user.position.present? %>
            </div>

            <% username_style = (user.id == @current_user.id ? "ui-block-b current_user" : "ui-block-b") %>
            <div class="<%= username_style %>" style="width:45%">
              <%= user.name %>
            </div>

            <div class="ui-block-c payout-icon" style="width:10%">
              <%= "$" if user.games.include?(@game) %>
            </div>

            <div class="ui-block-d percent-points" align="center" style="width:15%">

            </div>

            <div class="ui-block-e" align="center" style="width:10%">
              <%= point.total.to_i %>
            </div>
          </div>
        </li>
        <% previous_score = point.total.to_i %>
    <% end %>
  </ul>
</div>
<%= render "common/footer" %>
</html>
