<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= weeks_path %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "Footy Forecast" %></h1>
</div>

<div class="leaderboard">
  <ul data-role="listview">
    <% index = 0 %>
    <% position = 0 %>
    <% previous_score = -10 %>
    <!--<% @total_points.inspect %>-->

    <% @total_points.each do |point| %>
        <li class="custom-list">
          <div class="ui-grid-b">
            <% position +=1 unless previous_score == point.value %>
            <% index += 1 %>
            <div class="ui-block-a" style="width:10%">
              <% if previous_score == point.value %>
                  <%= "#{position}" %>
              <% else %>
                  <%= "#{index}" %>
                  <% position = index %>
              <% end %>
            </div>

            <div class="ui-block-b" style="width:45%">
              <% user = User.find(point.user_id) %>
              <%= user.name %>
            </div>

            <div class="ui-block-b payout-icon" style="width:20%">
              <%= "$" if user.payout_user? %>
            </div>

            <div class="ui-block-d percent-points" align="center" style="width:15%">
              <%= "#{(point.value.round(2)/point.count.to_i).round(2)}%" %>
            </div>

            <div class="ui-block-e" align="center" style="width:10%">
              <%= "#{point.value}" %>
            </div>
          </div>
        </li>
        <% previous_score = point.value %>
    <% end %>
  </ul>
</div>
<%= render "common/footer" %>
</html>
