<!DOCTYPE html>
<html>

<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= week_path(@week.id) %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "Week #{@week.week[4..6]}" %></h1>
</div>

<div data-role="content">
  <ul data-role="listview" id="comp-list">
    <% position = 1 %>
    <% @points.each do |point| %>
        <li>
        <div class="ui-grid-b">

          <div class="ui-block-a" style="width:10%">
            <%= "#{position}." %>
            <br>
            <h10 class="kickoff">
              --
            </h10>
          </div>

          <div class="ui-block-b" style="width:80%">
            <%= "#{User.find(point.user_id).name}" %>
            <br>
            <h10 class="kickoff">
              --
            </h10>
          </div>

          <div class="ui-block-c" align="center" style="width:10%">
            <%= "#{point.value}" %>
            <br>
            <h10 class="kickoff">
              --
            </h10>
          </div>
        </div>
        </li>
        <% position +=1 %>
    <% end %>
  </ul>
</div>
</html>