<!DOCTYPE html>
<html>

<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= fixtures_path(@week.id) %>" data-theme="a" data-rel="">Back</a>

  <h1>
    <%= @week.description %>
    <span class="jackpot"><%= "Pot: £10" %></span>
  </h1>
</div>

<div class="leaderboard">
  <ul data-role="listview">
    <% index = 0 %>
    <% position = 0 %>
    <% previous_score = -10 %>

    <% paying_winners = [] %>

    <% if @week.complete? %>
        <% winning_value = 0 %>
        <% @points.each do |p| %>
            <% paying_winners << p.user if p.user.games.collect(&:name).include?('Footy Forecast') && (paying_winners.empty? || winning_value == p.value) %>
            <% winning_value = p.value if winning_value == 0 && paying_winners.count == 1 %>
        <% end %>
    <% end %>

    <% @points.each do |point| %>
        <% position +=1 unless previous_score == point.value %>
        <% index += 1 %>

        <% list_style = @week.complete? && position == 1 ? "custom-list-winner" : "custom-list" %>

        <li class="<%= list_style %>">
          <a href="<%= user_week_fixtures_path(point.user_id, @week.id) %>" class="leaderboard">
            <div class="ui-grid-b">
              <div class="ui-block-a" style="width:10%">
                <% if previous_score == point.value %>
                    <%= "#{position}" %>
                <% else %>
                    <%= "#{index}" %>
                    <% position = index %>
                <% end %>
              </div>

              <% user = User.find(point.user_id) %>
              <% username_style = (user.id == @current_user.id ?  'ui-block-b current_user' : 'ui-block-b') %>

              <div class="<%=username_style%>" style="width:60%">
                <%= user.name %>
              </div>

              <div class="ui-block-c payout-icon" align="left" style="width:10%">
                <%= "$" if point.user.games.collect(&:name).include?('Footy Forecast') %>
              </div>

              <div class="ui-block-d payout-icon" align="left" style="width:10%">
                <%= "£10" if paying_winners.count == 1 && paying_winners.collect(&:id).include?(point.user.id) %>
              </div>

              <div class="ui-block-e" align="center" style="width:10%">
                <%= "#{point.value}" %>
              </div>

            </div>
          </a>
        </li>
        <% previous_score = point.value %>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
