<!DOCTYPE html>
<html>

<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= fixtures_path(@week.id) %>" data-theme="a" data-rel="">Back</a>

  <h1>
    <%= @week.description %>
    <% competition_type = ENVIRONMENT_CONFIG["#{ENVIRONMENT_CONFIG['competition']}"]['type'] %>
    <% if competition_type == 'club' && ENVIRONMENT_CONFIG['week_jackpot'].present? %>
        <span class="jackpot"><%= "Pot #{ENVIRONMENT_CONFIG['week_jackpot']}" %></span>
    <% end %>
  </h1>
</div>

<div class="leaderboard">
  <ul data-role="listview">
    <% index = 0 %>
    <% position = 0 %>
    <% previous_score = -10 %>

    <% paying_winners = [] %>

    <% if @week.complete? %>
        <% winning_value = 0 %>
        <% @points.each do |p| %>
            <% paying_winners << p.user if p.user.games.collect(&:name).include?('Footy Forecast') && (paying_winners.empty? || winning_value == p.value) %>
            <% winning_value = p.value if winning_value == 0 && paying_winners.count == 1 %>
        <% end %>
    <% end %>

    <% @points.each do |point| %>
        <% position +=1 unless previous_score == point.value %>
        <% index += 1 %>

        <% list_style = position == 1 && competition_type == 'club' && @week.complete? ? "custom-list-winner" : "custom-list" %>

        <li class="<%= list_style %>">
          <a href="<%= user_week_fixtures_path(point.user_id, @week.id) %>" class="leaderboard">
            <div class="ui-grid-b">
              <div class="ui-block-a" style="width:10%">
                <% if previous_score == point.value %>
                    <%= "#{position}" %>
                <% else %>
                    <%= "#{index}" %>
                    <% position = index %>
                <% end %>
              </div>

              <% user = User.find(point.user_id) %>
              <% username_style = (user.id == @current_user.id ? 'ui-block-b current_user' : 'ui-block-b') %>

              <div class="<%= username_style %>" style="width:60%">
                <%= user.name %>
              </div>

              <div class="ui-block-c payout-icon" align="left" style="width:10%">
                <%= "$" if point.user.games.collect(&:name).include?('Footy Forecast') %>
              </div>

              <!--<div class="ui-block-d payout-icon" align="left" style="width:10%">-->
                <!--<%= "£10" if competition_type == 'club' && paying_winners.count == 1 && paying_winners.collect(&:id).include?(point.user.id) %>-->
              <!--</div>-->

              <div class="ui-block-d" align="right" style="width:10%">
                <%= "#{point.value}" %>
              </div>

              <div class="ui-block-e" align="right" style="width:10%">
                <% if TOGGLES_CONFIG['bonus_points'] && point.bonus.to_i > 0 %>
                    <%= "+#{point.bonus}" %>
                <% end %>
              </div>

            </div>
          </a>
        </li>
        <% previous_score = point.value %>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
