<div class="ui-grid-b">
  <div class="ui-block-a main-font" style="width:90%">
    <%= image_tag "#{ENVIRONMENT_CONFIG['competition']}/strip/#{@fixture.home_team.abbreviation}.png", class: "strip-size" %>
    <%= @fixture.to_s %>
    <%= image_tag "#{ENVIRONMENT_CONFIG['competition']}/strip/#{@fixture.away_team.abbreviation}.png", class: "strip-size" %>
    <br>
    <h10 class="fixture-kickoff">
      <%= DateTime.parse(@fixture.kickoff_local_time.to_s).strftime('%A %e %B %H:%M') %>
    </h10>
  </div>

  <% bet=Bet.find_by_fixture_id_and_user_id(@fixture.id, @current_user.id) %>
  <% bet.nil? ? outcome = "" : outcome = bet.outcome%>

  <div class="<%= outcome %> ui-block-b main-font" align="center" style="width:10%">
    <%= bet.nil? ? "" : "#{bet.value}" %>
    <br>
    <h10 class="kickoff">
      <%= "#{@fixture.score.home} - #{@fixture.score.away}" if @fixture.score.present? %>
    </h10>
  </div>
</div>