<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= fixtures_path(@week) %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "Fixture #{@fixture.id.to_s.rjust(3, "0")}" %></h1>
  <% if @user.admin? %>
      <a href="<%= update_goals_path(@week, @fixture.id) %>" class="ui-btn-right" data-theme="a" data-rel="">Goals</a>
  <% end %>
</div>

<% goal_events = @fixture.events.where(event_type: 'goal') %>

<div class="ui-grid-a" style=padding:30px>
  <% competition_type = ENVIRONMENT_CONFIG[ENVIRONMENT_CONFIG['competition']]['type'] %>
  <p>

  <div class="ui-block-a" style="width:38%" align="center">
    <%= image_tag "#{ENVIRONMENT_CONFIG[competition_type]['badge_path']}#{@fixture.home_team.abbreviation}.png", class: "badge-size" %>
    <br>
    <%= @fixture.home_team.short_name.upcase %>
    <br>
    <div class="info-txt-clear">
      <% goal_events.each do |goal_event| %>
          <% if goal_event.team != 'away' %>
              <%= "#{goal_event.player_name} (#{goal_event.minute}')" %>
              <br>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="ui-block-b" style="width:24%" align="center">
    <h8 class="bet-versus">
      VS
    </h8>

    <div class="big-score">
    <% score_theme = 'label ft-score' if @fixture.finished? %>
    <% score_theme = 'label in-play-score' if @fixture.in_play? %>
    <% if score_theme.present? %>
        <span class= '<%=score_theme%>'><%= @fixture.score.home %></span>
        <span class= '<%=score_theme%>'><%= @fixture.score.away %></span>
    <% end %>
  </div>
  </div>
  <div class="ui-block-c" style="width:38%" align="center">
    <%= image_tag "#{ENVIRONMENT_CONFIG[competition_type]['badge_path']}#{@fixture.away_team.abbreviation}.png", class: "badge-size" %>
    <br>
    <%= @fixture.away_team.short_name.upcase %>
    <br>
    <div class="info-txt-clear">
      <% goal_events.each do |goal_event| %>
          <% if goal_event.team == 'away' %>
              <%= "#{goal_event.player_name} (#{goal_event.minute}')" %>
              <br>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<% fixture_betable = @fixture.betable? %>
<% unless fixture_betable %>
    <% bets = @fixture.bets %>
    <% number_of_bets = bets.count %>
<% end %>

<div data-role="collapsible-set">
  <div class="player-goals" data-role="listview" data-count-theme="d">

    <% ['H', 'D', 'A'].each do |value| %>

        <div data-role="collapsible" class="custom-collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
          <h5>
            <div class="ui-grid-b main-font">

              <div class="ui-block-a" style="width:42%" align="right">
                <%= "#{value}:" %>
              </div>

              <div class="ui-block-b" style="width:4%" align="right">
                &nbsp;
              </div>

              <div class="ui-block-c" style="width:12%" align="right">
                <%= fixture_betable ? "TBA%" : "#{(((bets.select { |bet| bet[:value] == value }.count.to_f)/number_of_bets.to_f)*100).round(1)}%" %>
              </div>

              <div class="ui-block-d standings-text" style="width:20%" align="right">
                <% if @fixture.finished? && @fixture.score.present? && @fixture.score.outcome == value %>
                <span class="label label-success">
                    <%= value %>
                </span>
                <% end %>
              </div>

            </div>
          </h5>

          <div class="ui-grid-b standings-text">
            <% bets.where(value: value).order('updated_at ASC').each do |bet| %>
                <div class="ui-block-a ">
                  <%= bet.user.name %>
                </div>
                <div class="ui-block-b">
                  <%= bet.updated_at.in_time_zone('London').strftime('%d/%m/%Y %H:%M') %>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>

  </div>
</div>

<%= render 'common/footer' %>
</html>
