<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed">
  <a href="<%= weeks_path %>" data-theme="a" data-rel="" data-icon="back">Back</a>
  <h1><%= "Round #{@week.week[4..6]}" %></h1>
  <a href="<%= week_points_path(@week.id) %>" data-theme="a" data-rel="">Points</a>
</div>

<div data-role="content">
  <ul data-role="listview" id="fix-list">
    <% @fixtures.order("kickoff asc").each do |fixture| %>
        <% @fixture = fixture %>
        <li>
          <% @bet=Bet.find_by_fixture_id_and_user_id(@fixture.id, @current_user.id) %>
          <% if @week.open? and @current_user.username != 'guest'%>
              <% if @bet.nil? %>
                  <%= link_to new_fixture_bet_path(@week.id,@fixture.id), :method => :post do %>
                      <%= render "fixture_info" %>
                  <% end %>
              <% else %>
                  <%= link_to edit_fixture_bet_path(@week.id,@fixture.id), :method => :get do %>
                      <%= render "fixture_info" %>
                  <% end %>
              <% end %>
          <% else %>
              <%= render "fixture_info" %>
          <% end %>

        </li>
    <% end %>
  </ul>
</div>

</html>