<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-tap-toggle="false">
  <a href="<%= weeks_path %>" data-theme="a" data-rel="">Back</a>
  <h1><%= @week.description %></h1>
  <a href="<%= week_points_path(@week.id) %>" data-theme="a" data-rel="">Points</a>
</div>

<% date = nil %>

<div data-role="content">
  <ul data-role="listview">
    <% @fixtures.each do |fixture| %>
        <% @fixture = fixture %>

        <% unless date == fixture.kickoff.to_date %>
            <% date = fixture.kickoff.to_date %>
            <li class="custom-list-header fixture-date">
              <%= date.strftime('%A %e %B') %>
            </li>
        <% end %>

        <li class="custom-list">
          <% @bet=Bet.find_by_fixture_id_and_user_id(@fixture.id, @user.id) %>
          <% if fixture.betable? && !@user.read_only? %>
              <% if @bet.nil? %>
                  <%= link_to new_fixture_bet_path(@week.id, @fixture.id), :method => :post do %>
                      <%= render 'fixture_info' %>
                  <% end %>
              <% else %>
                  <%= link_to edit_fixture_bet_path(@week.id, @fixture.id), :method => :get do %>
                      <%= render 'fixture_info' %>
                  <% end %>
              <% end %>
          <% else %>
              <% if @fixture.events.present? %>
                  <%= link_to fixture_events_path(@week.id, @fixture.id), :method => :get do %>
                      <%= render 'fixture_info' %>
                  <% end %>
              <% else %>
                  <%= link_to fixture_bets_info_path(@week.id, @fixture.id), :method => :get do %>
                      <%= render 'fixture_info' %>
                  <% end %>
              <% end %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
