<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= fa_bets_path %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "5 Alive" %></h1>
</div>

<% if @total_points.empty? %>
    <div class="leaderboard" align="center">
      <br>
      Bets not marked
    </div>
<% end %>

<h10 class="leaderboard">
  <div data-role="content">
    <ul data-role="listview" id="comp-list">
      <% index = 0 %>
      <% position = 0 %>
      <% previous_score = -10 %>

      <% @total_points.each do |point| %>
          <li>
            <div class="ui-grid-b">
              <% position +=1 unless previous_score == point.value %>
              <% index += 1 %>
              <div class="ui-block-a" style="width:10%">
                <% if previous_score == point.value %>
                    <%= "#{position}" %>
                <% else %>
                    <%= "#{index}" %>
                    <% position = index %>
                <% end %>
              </div>

              <div class="ui-block-b" style="width:45%">
                <% user = User.find(point.user_id) %>
                <%= user.name %>
              </div>

              <div class="ui-block-c" align="left" style="width:30%">
                <% user.fa_teams.each do |team| %>
                    <!--<%= image_tag "#{ENVIRONMENT_CONFIG['competition']}/strip/#{team.abbreviation}.png", class: "strip-size" %>-->
                    <%= image_tag "#{ENVIRONMENT_CONFIG['competition']}/strip/tba.png", class: "strip-size" %>
                <% end %>
              </div>

              <div class="ui-block-d payout-icon" style="width:10%">
                <%= "$" if user.payout_user? %>
              </div>

              <div class="ui-block-e" align="center" style="width:5%">
                <%= "#{point.value}" %>
              </div>
            </div>
          </li>
          <% previous_score = point.value %>
      <% end %>
    </ul>
  </div>
</h10>
<%= render "common/footer" %>
</html>
