<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <% unless @round.open? %>
      <a href="<%= gb_points_path %>" class="ui-btn-right" data-theme="a" data-rel="">Points</a>
  <% end %>
  <h1><%= "Goal Buster" %></h1>
</div>

<div class="info-txt" data-role="content">
  The first team to score a total of exactly 11 goals over a number of fixtures.
  <p></p>
  When you join, you'll be given a unique team by random from a pot of premiership teams - you cannot choose your team.
  It's £1 to play with £20 jackpot.
  <p></p>
  Teams left in the pot: <%= @available_choices_count %>
</div>
<p>
  <%= form_for(@bet) do |bet| %>
    <div align="center">
      <%= bet.submit 'Join', class: 'btn btn-large btn-primary', disabled: @available_choices_count == 0 || !@round.open? %>
    </div>
<% end %>
<p>
  <% unless @round.open? %>
    <div class="info-txt-clear" align="center">
      Available from <%= @round.open_at.in_time_zone('London').strftime('%e %B %l:%M%P') %>
    </div>
<% end %>

<%= render 'common/footer' %>
</html>
