<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= fixtures_path(@fixture.week_id) %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "Fixture #{@fixture.id.to_s.rjust(3, "0")}" %></h1>
</div>

<%= render 'teams' %>

<form method="PUT" action="<%= hda_bet_path(@bet.id) %>">
  <% page = TOGGLES_CONFIG['bet_type_hda'] ? "selection" : "selection_score" %>
  <%= render page %>
</form>
<%= render 'common/footer' %>
</html>
