<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= sweep_bets_path %>" class="ui-btn-right" data-theme="a" data-rel="">Points</a>

  <h1><%= "Sweep" %></h1>
</div>

<div class="info-txt" data-role="content">
  Rules:
  <ul type="square">
    <li>£5 a ball</li>
    <li>Each ball contains a random team</li>
    <li>First come, first served</li>
  </ul>
  <p></p>

  Payouts:
  <p></p>
  <ul type="square">
    <li>£50 - 1st (Final Winner)</li>
    <li>£30 - 2nd (Final Runner Up)</li>
    <li>£15 - 3rd (Both Semi Final Runners Up)</li>
    <li>£10 - Last (fewest points, worst goal difference)</li>
  </ul>
  <p></p>
  <br>
  Remaining spaces: <%= @number_of_teams_available %>
  <p></p>
  <br>
</div>
<p>
  <%= form_for(@bet) do |bet| %>
    <div align="center">
      <%= bet.submit 'Join', class: 'btn btn-large btn-primary', disabled: @number_of_teams_available == 0 %>
    </div>
<% end %>
<p>
  <%= render 'common/footer' %>
</html>

<script type="text/javascript">
    $(document).ready(function() {
        $('form').submit(function () {
            $('input[type=submit]').attr("disabled", "disabled");
        });
    });
</script>
