<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed" data-tap-toggle="false">
  <a href="<%= lp_rounds_info_path %>" class="ui-btn-left" data-theme="a" data-rel="">Rules</a>
  <h1>Last Man Standing 2</h1>
  <a href="<%= lp_points_path %>" class="ui-btn-right" data-theme="a" data-rel="">Table</a>
</div>

<div data-role="content">
  <ul data-role="listview" id="fix-list">
    <% @rounds.each do |round| %>
        <% @round = round %>
        <li class="custom-list">
          <% @bet = @user.lp_bets.sorted.where(round_id: round.id).first %>
          <% if round.week.open? && @user.lp_survivor? %>
              <% if @bet.nil? %>
                  <%= link_to new_lp_bet_path(round.id), :method => :post do %>
                      <%= render 'round_info' %>
                  <% end %>
              <% else %>
                  <%= link_to edit_lp_bet_path(round.id), :method => :get do %>
                      <%= render 'round_info' %>
                  <% end %>
              <% end %>
          <% else %>
              <%= render 'round_info' %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'error' if @error.present? %>
<%= render 'common/footer' %>
</html>
