<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <h1>
    <%= 'Sweep' %>
  </h1>
</div>

<div class="leaderboard">
  <ul data-role="listview">
    <% @points.each_with_index do |point, i| %>
        <li class="custom-list">
          <div class="ui-grid-b">

            <% style = 'disabled-font' unless point.team.in_sweep? %>

            <div class="ui-block-a <%= style %>" style="width:43%">
              <% competition_type = ENVIRONMENT_CONFIG[ENVIRONMENT_CONFIG['competition']]['type'] %>
              <%= image_tag "#{ENVIRONMENT_CONFIG[competition_type]['strip_path']}#{point.team.abbreviation}.png", class: 'strip-size' %>
              &nbsp
              <%= point.team.name.upcase %>
            </div>

            <% bet = SweepBet.find_by_team_id(point.team.id) %>

            <% username_style = (bet.present? && bet.user.id == @current_user.id ? 'ui-block-b current_user' : 'ui-block-b') %>

            <div class="ui-block-b payout-icon" style="width:10%">
              <%= "$" if bet.present? && bet.user.games.include?(@game) %>
            </div>

            <div class="<%= username_style %> <%= style %>" style="width:34%">
              <%= bet.user.name if bet.present? %>
            </div>

            <div class="ui-block-c <%= style %>" align="right" style="width:10%">
              <%= "£10" if point.value == -1 %>
              <% if Week.sorted.last.complete? %>
                <% case i %>
                <% when 0 %>
                  £50
                <% when 1 %>
                  £30
                <% when 2, 3 %>
                  £15
                <% end %>
              <% end %>
            </div>

          </div>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
