<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= fixtures_path(@fixture.week_id) %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "Fixture #{@fixture.id.to_s.rjust(3, "0")}" %></h1>
</div>

<%= render "teams" %>

<%= form_for @bet, html: { autocomplete: "off" }, url: update_fixture_bet_path, method: :put do |bet| %>
    <fieldset>
      <div class="control-group" align="center">
        <%= bet.hidden_field :fixture_id, value: @fixture.id %>
        <%= bet.select :value, @choices %>
        <p>
          <%= bet.submit "Save", class: "btn btn-large btn-primary" %>
      </div>
    </fieldset>
<% end %>
<%= render "common/footer" %>
</html>