<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= week_path(@fixture.week_id) %>" data-theme="a" data-rel="">Back</a>
  <h1><%= @fixture.to_s %></h1>
</div>

<%= form_for @bet, html: {autocomplete: "off"}, url: update_fixture_bet_path, method: :put do |bet| %>
    <fieldset>
      <div class="control-group" align="center">
        <p>
          <%= bet.hidden_field :fixture_id, value: @fixture.id %>
          <%= bet.select :value, [["Home win", "H"], ["Draw", "D"], ["Away win", "A"]] %>
        <p>
          <%= bet.submit "Save", class: "btn btn-large btn-primary" %>
      </div>
    </fieldset>
<% end %>
</html>