<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= fixtures_path(@fixture.week_id) %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "Fixture #{@fixture.id.to_s.rjust(3, "0")}" %></h1>
</div>

<%= render "teams" %>

    <!--<%= form_for(@bet) do |bet| %>-->
        <!--<fieldset>-->
          <!--<div class="control-group" align="center">-->
            <!--<%= bet.hidden_field :fixture_id, value: @fixture.id %>-->
            <!--<%= bet.select :value, options_for_select(@choices) %>-->
            <!--<p>-->
              <!--<%= bet.submit "Save", class: "btn btn-large btn-primary" %>-->
          <!--</div>-->
        <!--</fieldset>-->
    <!--<% end %>-->

<form method="POST" action="<%= bets_path %>">
  <div data-role="fieldcontain" align="center">
    <fieldset data-role="controlgroup" data-type="horizontal" id="custom-fieldset">
      <input type="hidden" name="fixture_id" id="fixture_id" value= "<%= @fixture.id %>"/>
      <input type="radio" name="bet_value" id="radio-choice-1" value="H" checked="checked"/>
      <label for="radio-choice-1">Home</label>
      <input type="radio" name="bet_value" id="radio-choice-2" value="D"/>
      <label for="radio-choice-2">Draw</label>
      <input type="radio" name="bet_value" id="radio-choice-3" value="A"/>
      <label for="radio-choice-3">Away</label>
    </fieldset>
    <p></p>
    <input type="submit" value="Save"/>
  </div>
</form>
<%= render "common/footer" %>
</html>