<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed">
  <a href="<%= lm_rounds_path %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "Round #{@lm_round.id.to_s.rjust(2, '0')}" %></h1>
</div>

<div data-role="content">
  <%= form_for @bet, html: { autocomplete: 'off' }, url: lm_bet_path(@bet.id), method: :put do |bet| %>
      <fieldset>
        <div class="control-group" align="center">
          <%= bet.hidden_field :lm_round, value: @lm_round.id %>
          <%= bet.select :team_id, @choices %>
          <%= bet.submit 'Save', class: 'btn btn-large btn-primary' %>
        </div>
      </fieldset>
  <% end %>
</div>
<%= render 'fixtures' %>
<%= render 'common/footer' %>
</html>
