<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed">
  <a href="<%= week_points_path(@week.id) %>" data-theme="a" data-rel="">Back</a>
  <h1><%= "#{@user.name} R#{@week.id}" %></h1>
</div>

<% date = nil %>

<div data-role="content">
  <ul data-role="listview">
    <% @fixtures.each do |fixture| %>
        <% @fixture = fixture %>

        <% unless date == fixture.kickoff.to_date %>
            <% date = fixture.kickoff.to_date %>
            <li class="custom-list-header fixture-date">
              <%= date.strftime('%A %e %B') %>
            </li>
        <% end %>

        <li class="custom-list">
          <%= link_to fixture_bets_info_path(@week.id, @fixture.id), :method => :get do %>
              <%= render 'fixtures/fixture_info' %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>