<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= weeks_path %>" class="ui-btn-left" data-theme="a" data-rel="">Back</a>

  <h1><%= 'Recent Form <' %></h1>
  <% if @user.admin? %>
      <a href="<%= info_path %>" class="ui-btn-right" data-theme="a" data-rel="">Info</a>
  <% end %>
</div>

<div class="leaderboard">
  <ul data-role="listview">
    <% @standings.each do |standing| %>
        <li class="custom-list">
          <div class="ui-grid-b">

            <div class="ui-block-a" style="width:15%">
              <%= standing.position.ordinalize %>
            </div>

            <div class="ui-block-b" style="width:40%">
              <% competition_type = ENVIRONMENT_CONFIG[ENVIRONMENT_CONFIG['competition']]['type'] %>
              <%= image_tag "#{ENVIRONMENT_CONFIG[competition_type]['strip_path']}#{standing.team.abbreviation}.png", class: 'strip-size' %>
              &nbsp
              <%= "#{standing.team.name}" %>
            </div>

            <% if standing.form.present? %>
                <div class="ui-block-b" align="center" style="width:30%">
                  <% standing.form.upcase.split("").each do |char| %>
                      <% style = (char == 'W' ? 'won' : (char == 'L' ? 'lost' : 'draw')) %>
                      <span class="standings <%= style %>"><%= char %></span>
                  <% end %>
                </div>
            <% else %>
                <div class="ui-block-b" align="center" style="width:15%">
                  <%= "#{standing.played}" %>
                </div>
                <div class="ui-block-c" align="center" style="width:15%">
                  <%= "#{standing.goal_difference}" %>
                </div>
            <% end %>

            <div class="ui-block-d" align="right" style="width:15%">
              <%= standing.points %>
            </div>

          </div>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
