<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed" data-tap-toggle="false">
  <a href="<%= fixtures_path(@fixture.week.id) %>" class="ui-btn-left" data-theme="a" data-rel="">Back</a>
  <h1>Events</h1>
</div>

<div data-role="content">
  <ul data-role="listview" id="fix-list">

    <li class="custom-list">
      <div class="ui-grid-b main-font">
        <div class="ui-block-a" align="right" style="width:40%">
          <%= @fixture.home_team.name %>
        </div>
        <div class="ui-block-b" align="center" style="width:20%">
          <%= "[ #{@fixture.score.to_s} ]" %>
        </div>
        <div class="ui-block-c" align="left" style="width:40%">
          <%= @fixture.away_team.name %>
        </div>
      </div>
    </li>

    <% @events.each do |event| %>
        <li class="custom-list">
          <div class="ui-grid-b event-font">
            <div class="ui-block-a" align="right" style="width:40%">
              <% if event.team == 'localteam' %>
                  <%= "#{event.player_name}" %>
                  &nbsp;
                  <%= image_tag "event/#{event.event_type}.png", class: "strip-size" %>
              <% end %>
              <p></p>
            </div>
            <div class="ui-block-b" align="center" style="width:20%">
              <%= "#{event.minute}" %>
              <p></p>
            </div>
            <div class="ui-block-c" align="left" style="width:40%">
              <% if event.team != 'localteam' %>
                  <%= image_tag "event/#{event.event_type}.png", class: "strip-size" %>
                  &nbsp;
                  <%= "#{event.player_name}" %>
              <% end %>
              <p></p>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>