<div data-role="collapsible" class="custom-collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
  <h5>
    <div class="ui-grid-b main-font">
      <div class="ui-block-a" style="width:8%">
        <%= image_tag "#{STRIP_PATH}#{@player.team.abbreviation}.png", class: "player-badge-size" %>
      </div>
      <div class="ui-block-b" style="width:12%">
        <%= "##{@player.squad_number}" %>
      </div>
      <div class="ui-block-c" style="width:70%">
        <%= "#{@player.name}" %>
      </div>
      <div class="ui-block-d" align="center" style="width:10%">
        <%= @player.goals.count %>
      </div>
    </div>
  </h5>

  <div class="ui-grid-b">
    <% @player.goals.each do |goal| %>
        <div class="ui-block-a" style="width:26%"></div>
        <div class="ui-block-b" style="width:6%">
          <%= image_tag "#{STRIP_PATH}#{goal.opposing_team.abbreviation}.png", class: "strip-size" %>
        </div>
        <div class="ui-block-c fa_opposing_team" style="width:30%">
          <%="#{goal.opposing_team.name.upcase}" %>
        </div>
        <div class="ui-block-d fa_opposing_team" style="width:38%">
          <%= DateTime.parse(goal.score.fixture.kickoff_local_time.to_s).strftime('%e %^b') %>
        </div>
    <% end %>
  </div>
</div>
