<% strip_path = ENVIRONMENT_CONFIG[ENVIRONMENT_CONFIG["#{ENVIRONMENT_CONFIG['competition']}"]['type']]['strip_path'] %>
<% i=0 %>

<div data-role="collapsible-set">
  <div data-role="listview" data-count-theme="a">
    <% Team.sorted.each do |team| %>
        <div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
          <h5>
            <div class="ui-grid-a fa_team">
              <div class="ui-block-a" align="centre" style="width:10%">
                <%= image_tag "#{strip_path}/#{team.abbreviation}.png", class: "player-badge-size" %>
              </div>
              <div class="ui-block-b" style="width:90%">
                <%= team.name %>
              </div>
            </div>
          </h5>

          <div class="ui-grid-b">
            <div class="ui-block-a" style="width:100%">
              <div class="radio-toolbar">
                <% team.players.by_surname.each do |player| %>
                    <% i+=1 %>
                    <% radio_choice = "checked=\"checked" if @bet.player_id == player[:id] || @bet.player_id.nil? && player[:id] == 1 %>
                    <input type="radio" name="player_id" id="radio-choice-<%= i %>" <%= radio_choice %> value="<%= player.id %>">
                    <label for="radio-choice-<%= i %>">
                      <div class="ui-block-a fa_flag" style="width:10%">
                        <%= image_tag "#{strip_path}/#{player.team.abbreviation}.png", class: "player-badge-size" %>
                      </div>
                      <div class="ui-block-b fa_player" style="width:10%">
                        <%= "##{player.squad_number}" %>
                      </div>
                      <div class="ui-block-c fa_player" align="left" style="width:80%">
                        <%= "#{player.name}" %>
                      </div>

                    </label>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<p/>
<input type="submit" value="Save"/>
<p/>