<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed">
  <a href="<%= goals_path %>" class="ui-btn-left" data-theme="a" data-rel="">Goals</a>

  <h1>5 Alive</h1>
  <a href="<%= fa_points_path %>" class="ui-btn-right" data-theme="a" data-rel="">Table</a>
</div>

<% unless @competition_started %>
    <div data-role="content">
      <ul data-role="listview">
        <% 5.times do |i| %>
            <li class="custom-list">
              <% if @bets[i].present? %>
                  <%= link_to edit_fa_bet_path(@bets[i].id) do %>
                      <div class="ui-block-a main-font" style="width:8%">
                        <%= image_tag "#{ENVIRONMENT_CONFIG['competition']}/strip/#{@bets[i].player.team.abbreviation}.png", class: "player-badge-size" %>
                      </div>
                      <div class="ui-block-b main-font" style="width:82%">
                        <%= "#{@bets[i].player.name_and_number}" %>
                      </div>
                  <% end %>
              <% else %>
                  <%= link_to new_fa_bet_path do %>
                      <div class="ui-block-a main-font" style="width:8%">
                        <%= image_tag "#{ENVIRONMENT_CONFIG['competition']}/strip/tba.png", class: "player-badge-size" %>
                      </div>
                      <div class="ui-block-b main-font" style="width:82%">
                        Select Player
                      </div>
                  <% end %>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>

<% else %>
    <div data-role="collapsible-set">
      <div class="player-goals" data-role="listview" data-count-theme="d">
        <% @bets.each do |bet| %>
            <% player = bet.player %>
            <div data-role="collapsible" class="custom-collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
              <h5>
                <div class="ui-grid-b player-goals">
                  <div class="ui-block-a" style="width:8%">
                    <%= image_tag "#{ENVIRONMENT_CONFIG['competition']}/strip/#{player.team.abbreviation}.png", class: "player-badge-size" %>
                  </div>
                  <div class="ui-block-b" style="width:82%">
                    <%= "#{player.name_and_number}" %>
                  </div>
                  <div class="ui-block-c" align="center" style="width:10%">
                    <%= player.goals.count %>
                  </div>
                </div>
              </h5>

              <div class="ui-grid-b info-txt">
                <div class="ui-block-a" style="width:16%"></div>
                <div class="ui-block-b" style="width:84%">
                  <%= "no goals" if player.goals.empty? %>
                  <% player.goals.each do |goal| %>
                      <%= image_tag "#{ENVIRONMENT_CONFIG['competition']}/strip/#{goal.opposing_team.abbreviation}.png", class: "strip-size" %>
                      &nbsp
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
<div class="main-font" align="center">
  <p></p>
  <%= 'Sorry, invalid combination chosen' if @bet.present? && @bet.errors.present? %>
</div>
<%= render 'common/footer' %>
</html>