<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-tap-toggle="false">
  <a href="<%= goals_path %>" class="ui-btn-left" data-theme="a" data-rel="">Goals</a>

  <h1>5 Alive</h1>
  <a href="<%= fa_points_path %>" class="ui-btn-right" data-theme="a" data-rel="">Table</a>
</div>

<% unless @competition_started %>
    <div data-role="content">
      <ul data-role="listview">
        <% 5.times do |i| %>
            <li class="custom-list">
              <% if @bets[i].present? %>
                  <%= link_to edit_fa_bet_path(@bets[i].id) do %>
                      <div class="ui-block-a main-font" style="width:10%">
                        <%= image_tag "#{BADGE_PATH}/#{@bets[i].player.team.abbreviation}.png", class: "player-badge-size" %>
                      </div>
                      <% player = @bets[i].player %>
                      <div class="ui-block-b main-font" style="width:12%">
                        <%= "##{player.squad_number}" %>
                      </div>
                      <div class="ui-block-c main-font" style="width:78%">
                        <%= "#{player.name}" %>
                      </div>
                  <% end %>
              <% else %>
                  <%= link_to new_fa_bet_path do %>
                      <div class="ui-block-a main-font" style="width:10%">
                        <%= image_tag "#{BADGE_PATH}/tba.png", class: "player-badge-size" %>
                      </div>
                      <div class="ui-block-b main-font" style="width:12%">

                      </div>
                      <div class="ui-block-c main-font" style="width:78%">
                        Select Player
                      </div>
                  <% end %>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
<% else %>
    <div data-role="collapsible-set">
      <div class="player-goals" data-role="listview" data-count-theme="d">
        <% @bets.each do |bet| %>
            <% @player = bet.player %>
            <%= render 'players' %>
        <% end %>
      </div>
    </div>
<% end %>
<%= render 'error' if @bet.present? && @bet.errors.present? %>
<%= render 'common/footer' %>
</html>
