<div class="ui-grid-b">
  <% if @round.week.status == 'Open' %>
      <% block_a_style='width:40%' %>
      <% block_c_style='width:36%' %>
  <% else %>
      <% block_a_style='width:36%' %>
      <% block_c_style='width:40%' %>
  <% end %>

  <div class="ui-block-a main-font" style="<%= block_a_style %>">
    <%= "Round #{@round.id.to_s.rjust(2, '0')}" %>
    <% if @round.week.status == 'In play' %>
        <span class="label label-warning">in play</span>
    <% elsif @round.week.status == 'Open' %>
        <span class="label label-success">open</span>
    <% end %>
    <br>
    <h10 class="kickoff">
      <%= "#{DateTime.parse(@round.week.close_date_local_time.to_s).strftime('%e %B %H:%M')}" %>
    </h10>
  </div>

  <% if @lm_bet.present? %>
      <div class="ui-block-b main-font" align="center" style="width:14%">
        <% competition_type = ENVIRONMENT_CONFIG[ENVIRONMENT_CONFIG['competition']]['type'] %>
        <%= image_tag "#{ENVIRONMENT_CONFIG[competition_type]['badge_path']}#{@lm_bet.team.abbreviation}.png", class: "badge-smallest" %>
      </div>

      <div class="ui-block-c main-font" style="<%= block_c_style %>">
        <%= @lm_bet.team.name.upcase %>
        <br>
        <h10 class="kickoff">
          <%= @lm_bet.opposing_team_name %>
        </h10>
      </div>

      <% bet_result = @lm_bet.result %>
      <% if bet_result == 'W' %>
          <div class="correct ui-block-c main-font" align="right" style="width:10%">
            W
            <br>
            <h10 class="kickoff">
              <%= @lm_bet.fixture.score.to_s %>
            </h10>
          </div>
      <% elsif bet_result == 'L' or bet_result == 'D' %>
          <div class="wrong ui-block-c main-font" align="right" style="width:10%"><%= 'L' %>
            <br>
            <h10 class="kickoff">
              <%= @lm_bet.fixture.score.to_s %>
            </h10>
          </div>
      <% end %>
  <% end %>
</div>
