<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed">
  <a href="<%= lm_rounds_info_path %>" class="ui-btn-left" data-theme="a" data-rel="">Rules</a>
  <h1>Last Man Standing</h1>
  <a href="<%= lm_points_path %>" class="ui-btn-right" data-theme="a" data-rel="">Table</a>
</div>

<div data-role="content">
  <ul data-role="listview" id="fix-list">
    <% @rounds.each do |round| %>
        <% @round = round %>
        <li class="custom-list">
          <% @lm_bet = LmBet.bets_for_user_and_round(@user, round).first %>
          <% if round.week.open? and not @user.readonly_user? and @user.lm_survivor? %>
              <% if @lm_bet.nil? %>
                  <%= link_to new_lm_bet_path(round.id), :method => :post do %>
                      <%= render "round_info" %>
                  <% end %>
              <% else %>
                  <%= link_to edit_lm_bet_path(round.id), :method => :get do %>
                      <%= render "round_info" %>
                  <% end %>
              <% end %>
          <% else %>
              <div class="ui-grid-b">
                <div class="ui-block-a main-font" style="width:40%">
                  <%= "Round #{round.id.to_s.rjust(2, "0")}" %>
                  <% if round.week.status == "In play" %>
                      <span class="label label-warning">In play</span>
                  <% end %>
                  <br>
                  <h10 class="kickoff">
                    <%= "#{DateTime.parse(round.week.close_date_local_time.to_s).strftime('%e %B %H:%M')}" %>
                  </h10>
                </div>
                <% if @lm_bet.present? %>
                    <div class="ui-block-b points_sml" style="width:50%">
                      <% if @lm_bet.present? %>
                          <%= image_tag "#{ENVIRONMENT_CONFIG['competition']}/strip/#{@lm_bet.team.abbreviation}.png", class: "strip-size" %>
                          <%= @lm_bet.team.name.upcase %>
                      <% end %>
                    </div>

                    <% bet_result = @lm_bet.result %>
                    <% if bet_result == 'W' %>
                        <div class="correct ui-block-c points_sml" style="width:10%"><%= "W" %></div>
                    <% elsif bet_result == 'L' or bet_result == 'D' %>
                        <div class="wrong ui-block-c points_sml" style="width:10%"><%= "L" %></div>
                    <% end %>

                <% elsif @round.week.complete? %>
                    <!--<div class="ui-block-b points_sml" style="width:40%"></div>-->
                    <!--<div class="wrong ui-block-c points_sml" style="width:10%"><%= "L" %></div>-->
                <% end %>
              </div>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<%= render "common/footer" %>
</html>
