<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed" data-tap-toggle="false">
  <a href="<%= lm_rounds_info_path %>" class="ui-btn-left" data-theme="a" data-rel="">Rules</a>
  <h1>Last Man Standing</h1>
  <a href="<%= lm_points_path %>" class="ui-btn-right" data-theme="a" data-rel="">Table</a>
</div>

<div data-role="content">
  <ul data-role="listview" id="fix-list">
    <% @rounds.each do |round| %>
        <% @round = round %>
        <li class="custom-list">
          <% @lm_bet = LmBet.bets_for_user_and_round(@user, round).first %>
          <% if round.week.open? && @user.lm_survivor? %>
              <% if @lm_bet.nil? %>
                  <%= link_to new_lm_bet_path(round.id), :method => :post do %>
                      <%= render 'round_info' %>
                  <% end %>
              <% else %>
                  <%= link_to edit_lm_bet_path(round.id), :method => :get do %>
                      <%= render 'round_info' %>
                  <% end %>
              <% end %>
          <% else %>
              <%= render 'round_info' %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
