<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false">
  <a href="<%= lm_rounds_path %>" data-theme="a" data-rel="">Back</a>

  <h1>
    Last Man Standing
    <span class="jackpot"><%= "Pot: £#{@game.users.count * 5}" %></span>
  </h1>
</div>

<div class="leaderboard">
  <ul data-role="listview">
    <% @total_points.each do |point| %>
        <li class="custom-list">
          <a href="<%= user_lm_rounds_path(point.user_id) %>" class="leaderboard">
            <div class="ui-grid-b">

              <% knocked_out = point.value < @max_round.id-1 %>
              <% style = 'disabled-font' if knocked_out %>
              <% user = User.find(point.user_id) %>

              <div class="ui-block-b <%= style %>" style="width:40%">
                <%= user.name %>
              </div>

              <div class="ui-block-c payout-icon" style="width:10%">
                <%= "$" if user.games.include?(@game) %>
              </div>

              <div class="ui-block-d <%= style %>" align="left" style="width:50%">
                <% if user.lm_bets.present? %>
                    <% user_latest_bet = user.lm_bets.order('created_at DESC').first %>
                    <% lm_round = user_latest_bet.lm_round %>
                    <%= lm_round.week.status == 'Open' ? "Round #{lm_round.id}: ? ? ? ? ?" : "Round #{lm_round.id}: #{user_latest_bet.team.name}" %>
                <% else %>
                    Round 1: No Selection
                <% end %>
              </div>

            </div>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
