<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed" data-tap-toggle="false">
  <a href="<%= points_path %>" class="ui-btn-left" data-theme="a" data-rel="">Back</a>

  <h1>Winners</h1>
</div>

<div data-role="content">
  <ul data-role="listview" id="fix-list">
    <% @week_ids_by_month.each do |month_id, week_ids| %>
        <% if @weeks.where('complete = true and id in (?)', week_ids).count == week_ids.count %>
            <% monthly_points = Points::HdaPoint.total_points_for_weeks(week_ids) %>
            <% highest_score = monthly_points.first.total unless monthly_points==[] %>

            <% monthly_points.each do |point| %>
                <% if highest_score.to_i == point.total.to_i %>
                    <li class="custom-list">
                      <a href="<%= winner_path(month_id) %>">
                        <div class="ui-grid-b event-font">

                          <div class="ui-block-a" style="width:20%">
                            <%= "#{DateTime.parse("1900-#{month_id}-01").strftime('%b').upcase}" %>
                          </div>

                          <div class="ui-block-b" style="width:32%">
                            <%= User.find(point.user_id).name %>
                          </div>

                          <div class="ui-block-c" align="right" style="width:14%">
                            <%= point.total.to_i %>
                          </div>

                          <div class="ui-block-c payout-icon" align="right" style="width:14%">
                            £25
                          </div>

                          <div class="ui-block-d" align="right" style="width:20%">
                            <%= "#{week_ids.count} weeks" %>
                          </div>

                        </div>
                      </a>
                    </li>
                <% end %>
            <% end %>
        <% else %>
            <li class="custom-list">
              <a href="<%= winner_path(month_id) %>">
                <div class="ui-grid-b event-font ">
                  <div class="ui-block-a" style="width:20%">
                    <%= "#{DateTime.parse("1900-#{month_id}-01").strftime('%b').upcase}" %>
                  </div>

                  <div class="ui-block-b" style="width:32%">
                    -
                  </div>

                  <div class="ui-block-c" align="right" style="width:14%">
                    -
                  </div>

                  <div class="ui-block-c" align="right" style="width:14%">
                    -
                  </div>

                  <div class="ui-block-d" align="right" style="width:20%">
                    <%= "#{week_ids.count} weeks" %>
                  </div>
                </div>
              </a>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
