<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= streak_rounds_path %>" class="ui-btn-left" data-theme="a" data-rel="">Back</a>
  <h1>
    Streak Totals
  </h1>
</div>

<div class="leaderboard">
  <ul data-role="listview">
    <li class="custom-list-header fixture-date">
      <div class="ui-grid-b">
        <div class="ui-block-a" align="left" style="width:10%"></div>
        <div class="ui-block-b" align="left" style="width:10%"></div>
        <div class="ui-block-c" align="center" style="width:45%"></div>
        <div class="ui-block-c" align="center" style="width:0%"></div>
        <div class="ui-block-c" align="right" style="width:15%">Current</div>
        <div class="ui-block-d" align="right" style="width:15%">Best</div>
      </div>
    </li>
  </ul>
</div>

<div class="leaderboard">
  <ul data-role="listview">

    <% @totals.each do |point| %>
        <li class="custom-list">
          <div class="ui-grid-b">

            <div class="ui-block-a" style="width:10%">

            </div>

            <div class="ui-block-b" style="width:10%">

            </div>

            <% username_style = (point[:user].id == @user.id ? 'ui-block-b current_user' : 'ui-block-b') %>
            <div class="<%= username_style %>" style="width:45%">
              <%= point[:user].name %>
            </div>

            <div class="ui-block-c payout-icon" style="width:0%">

            </div>

            <div class="ui-block-e" align="right" style="width:15%">
              <% points = point[:current].to_i %>
              <%= points > 0 ? points : 0 %>
            </div>

            <div class="ui-block-e" align="right" style="width:15%">
              <% points = point[:best].to_i %>
              <%= points > 0 ? points : 0 %>
            </div>

          </div>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
