<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= gb_points_info_path %>" data-theme="a" data-rel="">Rules</a>

  <h1>
    <%= "Goal Buster #{@round.week.close_date.strftime('[%d %b]')}" %>
    <span class="jackpot"><%= "Pot: £20" %></span>
  </h1>
</div>

<div class="leaderboard">
  <ul data-role="listview">
    <% @points.each do |point| %>
        <li class="custom-list">
          <%= link_to gb_point_path(point.team_id), :method => :get do %>
              <div class="ui-grid-b main-font">
                <div class="ui-block-a" style="width:43%">
                  <% competition_type = ENVIRONMENT_CONFIG[ENVIRONMENT_CONFIG['competition']]['type'] %>
                  <%= image_tag "#{ENVIRONMENT_CONFIG[competition_type]['strip_path']}#{point.team.abbreviation}.png", class: 'strip-size' %>
                  &nbsp
                  <%= point.team.name %>
                </div>

                <% bet = GbBet.find_by_team_id(point.team.id) %>

                <% username_style = (bet.present? && bet.user.id == @current_user.id ? 'ui-block-b current_user' : 'ui-block-b') %>

                <div class="<%= username_style %>" style="width:42%">
                  <%= bet.user.name if bet.present? %>
                </div>

                <div class="ui-block-c" align="left" style="width:10%">
                  <%= point.value %>
                </div>

                <div class="ui-block-d kickoff" align="left" style="width:5%">
                  <%= "#{point.minute}'" if point.minute.present? %>
                </div>
              </div>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
