<!DOCTYPE html>
<html>
<div data-role="header" data-position="fixed" data-backbtn="false" data-tap-toggle="false">
  <a href="<%= gb_points_info_path %>" data-theme="a" data-rel="">Rules</a>

  <h1>
    <%= "Goal Buster #{@round.week.close_date.strftime('[%d %b]')}" %>
    <span class="jackpot"><%= 'Pot: £20' %></span>
  </h1>
</div>

<% competition_type = ENVIRONMENT_CONFIG[ENVIRONMENT_CONFIG['competition']]['type'] %>

<div class="leaderboard">
  <ul data-role="listview">
    <% @points.each do |point| %>
        <% list_style = point.value == 11 && competition_type == 'club' ? 'custom-list-winner' : 'custom-list' %>
        <li class="<%= list_style %>">
          <%= link_to gb_point_path(point.team_id), :method => :get do %>
              <div class="ui-grid-b standings-text">
                <div class="ui-block-a " style="width:8%">
                  <%= image_tag "#{ENVIRONMENT_CONFIG[competition_type]['badge_path']}#{point.team.abbreviation}.png", class: 'badge-small' %>
                </div>

                <div class="ui-block-b" style="width:40%">
                  <%= point.team.name.upcase %>
                </div>

                <% bet = GbBet.find_by_team_id(point.team.id) %>

                <% username_style = (bet.present? && bet.user.id == @current_user.id ? 'ui-block-c current_user' : 'ui-block-c') %>

                <div class="<%= username_style %>" style="width:34%">
                  <%= bet.user.name if bet.present? %>
                </div>

                <div class="ui-block-d kickoff" align="left" style="width:10%">
                  <%= "#{point.minute}'" if point.minute.present? %>
                </div>

                <div class="ui-block-e" align="left" style="width:4%">
                  <%= point.value %>
                </div>

              </div>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<%= render 'common/footer' %>
</html>
