<!DOCTYPE html>
<html id=disable-viewport>
<div data-role="header" data-position="fixed" data-tap-toggle="false">
  <a href="<%= fat_selections_path %>" data-theme="a" data-rel="">Back</a>
  <h1><%="Player #{params['selection_id'].to_i+1}"%></h1>
</div>

<div data-role="content">
  <div class="ui-field-contain" align="center">

    <form action="<%="/fat_selections/#{@selection.id}/edit?"%>" method="get">
      <select name="team_id" align="center" id="teams">
        <option selected value="0">Select Team</option>
        <% @teams.each do |team| %>
            <option value="<%= team.id %>"><%= team.name %></option>
        <% end %>
        <option value=1> <input type=hidden name="selection_id" value=<%= params['selection_id'] %>>
      </select>
    </form>

    <form method="PUT" action="<%= fat_selection_path(@selection.id) %>">
      <select name="player_id" align="center" id="players">
        <option selected value="0">Select Player</option>
      </select>
      <input type="hidden" name="selection_id" value="<%= params['selection_id'] %>">
      <br>
      <input type="submit" value="Save"/>
    </form>

  </div>
</div>


<%= render 'common/footer' %>
</html>

<script type="text/javascript">
  $(function () {
    $('#teams').change(function () {
      var team_id = $(this).val();
      $.ajax({
        type: "GET",
        url: '/teams/players',
        cache: false,
        dataType:'json',
        data: {
          team_id: team_id
        },
        success: function(data) {
//          console.log(data[0].reference, data[0].surname);
          $('#players').empty();

          var div_data="<option value='0'>Select Player</option>";
          $(div_data).appendTo('#players');

          $.each(data,function(i,obj)
          {
//            console.log(obj.id, obj.surname);
            var div_data="<option value="+obj.id+">#"+obj.squad_number+" - "+obj.surname+" ("+obj.position+")</option>";
            $(div_data).appendTo('#players');

          });

          $('#players').selectmenu('refresh');

        },
      });
    });
  });
</script>
