<% if TOGGLES_CONFIG['last_man_standing'] %>
    <% lms_points = @user.lms_point.present? ? @user.lms_point.value : 0 %>
    <% lms_survivor = lms_points >= (Rounds::LmsRound.current.id-1) %>

    <% if lms_survivor %>
        <% lm_path = lm_rounds_path %>
        <% lm_label_style = Rounds::LmsRound.last.week.open? ? 'label-success' : 'label-warning' %>
    <% else %>
        <% lm_path = lms_points_path %>
        <% lm_label_style = 'label-danger' %>
    <% end %>

    <li><a href="<%= lm_path %>">LMS
      <span class="label <%= lm_label_style %>">&nbsp; &nbsp;</span>
    </a></li>
<% end %>

<% if TOGGLES_CONFIG['goal_buster'] %>
    <% user_has_gb_bet = @user.gb_bet.present? %>

    <% if user_has_gb_bet %>
        <% gb_path = gb_points_path %>
        <% gb_label_style = 'label-warning' %>
        <% gb_score = @user.gb_bet.team.gb_point.value %>
    <% else %>
        <% gb_score = '-' %>
        <% if Rounds::GbRound.available_choices.count > 0 %>
            <% gb_path = new_gb_bet_path %>
            <% gb_label_style = 'label-success' %>
        <% else %>
            <% gb_path = gb_points_path %>
            <% gb_label_style = 'label-danger' %>
        <% end %>
    <% end %>

    <li><a href="<%= gb_path %>">Buster
      <span class="label <%= gb_label_style %>">&nbsp;<%= gb_score %>&nbsp;</span>
    </a></li>
<% end %>