<% if TOGGLES_CONFIG['last_man_standing'] %>
    <% if @user.lm_survivor? %>
        <% round_open = LmRound.current.week.open? %>
        <% path = round_open ? lm_rounds_path : lm_points_path %>
        <% label_style = round_open ? 'label-success' : 'label-warning' %>
    <% else %>
        <% path = lm_points_path %>
        <% label_style = 'label-danger' %>
    <% end %>

    <li><a href="<%= path %>" data-theme="a">LMS1
      <span class="label <%= label_style %>">&nbsp; &nbsp;</span>
    </a></li>
<% end %>

<% if TOGGLES_CONFIG['last_player_standing'] %>
    <% if @user.lp_survivor? %>
        <% round_open = LpRound.current.week.open? %>
        <% path = round_open ? lp_rounds_path : lp_points_path %>
        <% label_style = round_open ? 'label-success' : 'label-warning' %>
    <% else %>
        <% path = lp_points_path %>
        <% label_style = 'label-danger' %>
    <% end %>

    <li><a href="<%= path %>" data-theme="a">LMS2
      <span class="label <%= label_style %>">&nbsp; &nbsp;</span>
    </a></li>
<% end %>

<% if TOGGLES_CONFIG['goal_buster'] %>
    <% user_has_gb_bet = @user.gb_bet.present? %>

    <% if user_has_gb_bet %>
        <% gb_path = gb_points_path %>
        <% gb_label_style = 'label-warning' %>
        <% gb_score = @user.gb_bet.team.gb_point.value %>
    <% else %>
        <% gb_score = '-' %>
        <% if GbRound.available_choices.count > 0 %>
            <% gb_path = new_gb_bet_path %>
            <% gb_label_style = 'label-success' %>
        <% else %>
            <% gb_path = gb_points_path %>
            <% gb_label_style = 'label-danger' %>
        <% end %>
    <% end %>

    <li><a href="<%= gb_path %>" data-theme="a">Buster
      <span class="label <%= gb_label_style %>">&nbsp;<%= gb_score %>&nbsp;</span>
    </a></li>
<% end %>

<% if TOGGLES_CONFIG['five_alive_twist'] %>
    <% latest_round = FatRound.sorted.first %>
    <% if latest_round.present? && latest_round.week.status == 'In play' %>
        <li><a href="<%= fat_bets_path(latest_round.id) %>" data-theme="a">FH
          <span class="label label-warning">&nbsp; &nbsp;</span>
        </a></li>
    <% else %>
        <li><a href="<%= fat_selections_path %>" data-theme="a">FH
          <span class="label label-success">&nbsp; &nbsp;</span>
        </a></li>
    <% end %>
<% end %>

<% if TOGGLES_CONFIG['goals_galore'] %>
    <% path = @user.goals_galore_bets.present? ? goals_galore_rounds_path : goals_galore_info_path %>
    <li><a href="<%= path %>" data-theme="a">GG
      <span class="label label-success">&nbsp; &nbsp;</span>
    </a></li>
<% end %>
