<% if TOGGLES_CONFIG['last_man_standing'] %>
    <% lm_points = @user.lm_point.present? ? @user.lm_point.value : 0 %>
    <% lm_survivor = lm_points >= (LmRound.current.id-1) %>

    <% if lm_survivor %>
        <% lm_path = lm_rounds_path %>
        <% lm_label_style = LmRound.last.week.open? ? 'label-success' : 'label-warning' %>
    <% else %>
        <% lm_path = lm_points_path %>
        <% lm_label_style = 'label-danger' %>
    <% end %>

    <li><a href="<%= lm_path %>" data-theme="a">LMS
      <span class="label <%= lm_label_style %>">&nbsp; &nbsp;</span>
    </a></li>
<% end %>

<% if TOGGLES_CONFIG['goal_buster'] %>
    <% user_has_gb_bet = @user.gb_bet.present? %>

    <% if user_has_gb_bet %>
        <% gb_path = gb_points_path %>
        <% gb_label_style = 'label-warning' %>
        <% gb_score = @user.gb_bet.team.gb_point.value %>
    <% else %>
        <% gb_score = '-' %>
        <% if GbRound.available_choices.count > 0 %>
            <% gb_path = new_gb_bet_path %>
            <% gb_label_style = 'label-success' %>
        <% else %>
            <% gb_path = gb_points_path %>
            <% gb_label_style = 'label-danger' %>
        <% end %>
    <% end %>

    <li><a href="<%= gb_path %>" data-theme="a">Buster
      <span class="label <%= gb_label_style %>">&nbsp;<%= gb_score %>&nbsp;</span>
    </a></li>
<% end %>

<% if TOGGLES_CONFIG['five_alive_twist'] %>
    <li><a href="<%= fat_selections_path %>" data-theme="a">5 Alive
      <!--<span class="label-success">&nbsp; &nbsp;</span>-->
    </a></li>
<% end %>